@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    background: #0C1117;
}
.container {
    max-width: 1440px;
    margin: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 35px;
}
.nav__navlist,
.nav__navlist p{
    display: flex;
    gap: 60px;
    align-items: end;


    color: #fff;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}
.nav__navlist__loop {
    width: 24px;
    height: 24px;
    margin-left: 25px;
    cursor: pointer;
}

/* block-2 */

.block-2{
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
}
.block-2 img{
    display: block;
}
.block-2 h1{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.block-2__links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.block-2__links p{
    rotate: 270deg;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.lorem{
    max-width: 668px;
    margin: 30px 0 40px 0;
}
.lorem p{
    color: #FFF;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
}
.btn-more{
    color: #FFF;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;

    border-radius: 30px;
    background: #003ADB;
    padding: 9px 25px;
    margin-bottom: 70px;
    transition: .3s ease;
}
.btn-more:hover{
    transition: .3s ease;
    box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
}
.progressbar label{
    color: #FFF;
    font-size: 32px;
    font-family: Fira Sans;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
#prog-1{
    height: 2px;
    width: 220px;
    margin: 0 14px 15px 14px;
}
::-webkit-progress-bar{
    background-color: #FFF;
}
::-webkit-progress-value{
    background-color: #003ADB;
}

/* next block */

.head__h1{
    text-align: center;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1em;
}

.head__inner-div{
    display:grid;
    grid-template-columns: repeat(4, 80fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
}
.head__inner-div div{
    max-width: 350px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;

    border-radius: 4px;
    background: #1B2837;
}
.head__inner-div div:last-child{
    border: none;
    background: none;
}
.head__inner-div div:last-child .btn-more{
    width: max-content;
}
.head__inner-div div:last-child h3{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.head__inner-div h2{
    color: var(--light, #F8F9FA);
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.head__inner-div p{
    color: var(--light, #F8F9FA);
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.head__inner-div div:last-child p{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.head__inner-div a{
    max-width: max-content;

    color: var(--light, #F8F9FA);
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: .5s ease;
}
.head__inner-div a:hover{
    transition: .5s ease;
    text-decoration-line: underline;
}

.head__inner-div div:not(:last-child){
    position: relative;
}
