@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    background: #0C1117;
}
.container {
    max-width: 1440px;
    margin: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 35px;
}
.nav__navlist,
.nav__navlist p{
    display: flex;
    gap: 60px;
    align-items: end;


    color: #fff;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}
.nav__navlist__loop {
    width: 24px;
    height: 24px;
    margin-left: 25px;
    cursor: pointer;
}

/* block-2 */

.block-2{
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
}
.block-2 img{
    display: block;
}
.block-2 h1{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.block-2__links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.block-2__links p{
    rotate: 270deg;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.lorem{
    max-width: 668px;
    margin: 30px 0 40px 0;
}
.lorem p{
    color: #FFF;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
}
.btn-more{
    color: #FFF;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;

    border-radius: 30px;
    background: #003ADB;
    padding: 9px 25px;
    margin-bottom: 70px;
    transition: .3s ease;
}
.btn-more:hover{
    transition: .3s ease;
    box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
}
.progressbar label{
    color: #FFF;
    font-size: 32px;
    font-family: Fira Sans;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
#prog-1{
    height: 2px;
    width: 220px;
    margin: 0 14px 15px 14px;
}
::-webkit-progress-bar{
    background-color: #FFF;
}
::-webkit-progress-value{
    background-color: #003ADB;
}

/* next block */

.head__h1{
    text-align: center;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1em;
}

.head__inner-div{
    display:grid;
    grid-template-columns: repeat(4, 80fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
}
.head__inner-div div{
    max-width: 350px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;

    border-radius: 4px;
    background: #1B2837;
}
.head__inner-div div:last-child{
    border: none;
    background: none;
}
.head__inner-div div:last-child .btn-more{
    width: max-content;
}
.head__inner-div div:last-child h3{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.head__inner-div h2{
    color: var(--light, #F8F9FA);
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.head__inner-div p{
    color: var(--light, #F8F9FA);
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.head__inner-div div:last-child p{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.head__inner-div a{
    max-width: max-content;

    color: var(--light, #F8F9FA);
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: .5s ease;
}
.head__inner-div a:hover{
    transition: .5s ease;
    text-decoration-line: underline;
}

.head__inner-div div:not(:last-child){
    position: relative;
}



/* next-block (our works) */

.div-our{
    display: flex;
    margin-bottom: 5em;
}
.our{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-right: 490px;
}
.firstrow{
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}
.secondrow{
    display: flex;
    gap: 2em;
    margin-left: 3em;
}
.smallblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}
.smallblock h2{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.smallblock p{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.smallblock a{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border-radius: 30px;
    background: #003ADB;
    padding: 9px 24px;
    width: max-content;
    transition: 0.5ms ease;
}
.smallblock a:hover{
    box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
    transition: 0.5ms ease;
}

/* next */

.general{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.general h1{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%; /* 68.64px */
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
.general p{
    color: #8FC2FF;
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%; /* 34.32px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
}
.general span{
    width: 0.5px;
    height: 239px;
    background: #ABC4E3;
}

/* ///// */

.gen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12.5em;
}
.div-testimo{
    display: flex;
    flex-direction: column;
    max-width: 668px;
}
.div-testimo h1{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Jane{
    color: #D0D0D0;
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.CEO{
    color: #727272;
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.loremm{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;

    margin-top: 1.5em;
}
.bar{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4em;
}
.bar p{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bar-2{
    width: 3.8em;
    height: 2px;
    transform: rotate(90deg);
}
.tech{
    border-radius: 4px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.tecno img{
    width: 415px;
    height: 415px;
    border-radius: 4px 70px 4px 4px;
    z-index: 1000;
}
.tecno div:nth-child(2), div:nth-child(3){
    border-radius: 4px 110px 4px 4px;
    border-bottom: none;
    transition: 0.5s ease;
    overflow: hidden;
}
.column{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1.2em solid #11161C;
    border-radius: 4px 90px 4px 4px;
    background-color: #11161C;
    transition: 1s ease;
}
.techn{
    position: relative;
    background: #11161C;
    border-radius: 4px 90px 4px 4px;
    border-right: 5px solid #11161C;
    transition: 1s ease;
    overflow: hidden;
}
.hov{
    position: absolute;
    width: 120%;
    height: 55%;
    z-index: 0;
    left: 0;
    bottom: 0;
    background: #003ADB;
    opacity: 0;
}
.techn:hover .hov{
    transition: 1s ease;
    opacity: 1;
}
.techn:hover .line{
    opacity: 0;
    transition: 0s ease;
}
.data{
    color: #727272;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;

    margin-top: 24px;
    margin-bottom: 16px;
}
.techeader{
    color: #D0D0D0;
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
}
.teclor{
    margin-top: 11px;
    color: #9C9898;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    z-index: 1;
}
.line{
    z-index: 1;
    margin-top: 42px;
    width: 100%;
    height: 9px;
    background: #003ADB;
    box-shadow: 0px 3px 12px 0px rgba(64, 129, 255, 0.24);
}
#img-1{
    position: relative;
    z-index: 99;
}
#img-1::after{
    content: "Techno";
    color: #FFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    position: absolute;
    padding: 17px 30px;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 125px;
    height: 53px;
    border-radius: 0px 69.5px  4px 4px;
    background: #003ADB;
    box-shadow: 0px 10px 29px 0px rgba(64, 129, 255, 0.24);
}

/* ------------------ */
